body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 2.5em;
    color: #00ff00; /* Verde neon */
}

nav {
    background-color: #1e1e1e;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #00ff00; /* Verde neon */
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: #1e1e1e;
}

.btn {
    background-color: #00ff00; /* Verde neon */
    color: #121212;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
}
